.hover{
    transition: all .3s ease-in-out !important;
    box-sizing: border-box;
}

.hover:hover{
    background-color: rgba(0,0,0,.02) !important;
}

.fw-sm{
    color: #EB8E84;
    font-weight: 400;
}


@media only screen and (max-width: 550px){
    .header-s{
        display: none !important;
    }
    .image-s{
        width: 60px;
        height: 60px;
    }
    .hover-s{
        flex-direction: column !important;
        align-items: center !important;
        justify-content: center !important;
    }
    .hoverItem-s{
        width: 100% !important;
        margin-bottom: 5px;
        text-align: center !important;
    }

    .marginBottom-s-1{
        margin-bottom: .5rem!important;
    }

    .buttons-s{
        display: none;
    }

    .justify-content-center-sm{
        justify-content: center;
    }

    .flex-column-sm{
        flex-direction: column !important;
    }
}

@media only screen and (min-width: 550px) and (max-width: 850px){
    .d-none-m{
        display: none;
    }
}
