.hover{
    transition: all .3s ease-in-out !important;
    box-sizing: border-box;
}

.hover:hover{
    background-color: rgba(0,0,0,.02) !important;
}

.hover-products{
    transition: all .3s ease-in-out !important;
    background-color: rgba(0,0,0,.02) !important;
}

.hover-products:hover{
    background: #fff !important;
}

.fw-sm{
    color: #EB8E84;
    font-weight: 400;
}

.pagination{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    border-radius: .35rem;
    margin: 7px 71px 0px 0px;
}

.list-wrapper {
    margin-bottom: 15px;
    overflow: hidden;
}

.simple-pagination ul {
    margin: 0 0 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.simple-pagination li {
    display: inline-block;
    margin-right: 5px;
}

.simple-pagination li a,
.simple-pagination li span {
    color: #666;
    padding: 5px 10px;
    text-decoration: none;
    border: 1px solid #EEE;
    background-color: #FFF;
    box-shadow: 0px 0px 10px 0px #EEE;
}

.simple-pagination .current {
    color: #FFF;
    background-color: #FF7182;
    border-color: #FF7182;
}

.simple-pagination .prev.current,
.simple-pagination .next.current {
    background: #e04e60;
}

@media only screen and (max-width: 550px){
    .header-s{
        display: none !important;
    }
    .image-s{
        width: 60px;
        height: 60px;
    }
    .hover-s{
        flex-direction: column !important;
        align-items: center !important;
        justify-content: center !important;
    }

    .margin-x-sm{
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .hoverItem-s{
        width: 100% !important;
        margin-bottom: 5px;
        text-align: center !important;
    }

    .marginBottom-s-1{
        margin-bottom: .5rem!important;
    }

    .buttons-s{
        display: none;
    }

    .justify-content-center-sm{
        justify-content: center;
    }

    .flex-column-sm{
        flex-direction: column !important;
    }

    .p-sm-0-custom{
        padding: 0px;
    }

    .pl-sm-1-custom{
        padding-left: .25rem !important;
    }

    .pr-sm-1-custom{
        padding-right: .25rem !important;
    }

    .pt-sm-1-custom{
        padding-top: .25rem !important;
    }

    .px-sm-0-custom{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .px-sm-3-custom{
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }

    .text-center-sm-custom{
        text-align: center !important;
    }

    .ml-sm-0-custom{
        margin-left: 0 !important;
    }

    .mr-sm-0-custom{
        margin-right: 0 !important;
    }

    .mt-sm-0-custom{
        margin-top: 0 !important;
    }

    .mb-sm-0-custom{
        margin-bottom: 0 !important;
    }

    .mx-sm-0-custom{
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .col-sm-12-custom{
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
}

@media only screen and (min-width: 550px) and (max-width: 850px){
    .d-none-m{
        display: none;
    }

    .col-md-12-custom{
        flex: 0 0 100%;
        max-width: 100%;
    }

    .ml-md-0-custom{
        margin-left: 0 !important;
    }

    .mr-md-0-custom{
        margin-right: 0 !important;
    }

    .mt-md-0-custom{
        margin-top: 0 !important;
    }

    .mb-md-0-custom{
        margin-bottom: 0 !important;
    }

    .mx-md-0-custom{
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .px-md-0-custom{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .col-sm-12-custom{
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px){
    .w-mdlg-100{
        width: 100% !important;
    }

    .d-none-mdlg{
        display: none !important;
    }
}
